body { 
    background-color: #0f172a; 
    margin: 0; 
    overflow: hidden; 
    touch-action: none; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.custom-scrollbar::-webkit-scrollbar { width: 6px; height: 6px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #cbd5e1; border-radius: 10px; }
.hidden { display: none !important; }

@keyframes floatUp { 0% { opacity: 1; transform: translateY(0) scale(0.8); } 100% { opacity: 0; transform: translateY(-80px) scale(1.5); } }
@keyframes floatDownRed { 0% { opacity: 1; transform: translateY(0) scale(1); } 100% { opacity: 0; transform: translateY(80px) scale(1.5); } }
@keyframes bob { 0%, 100% { transform: translateY(0); } 50% { transform: translateY(-8px); } }
